<!DOCTYPE html>
<html lang="zh">
<head>
  <title></title>
  <link rel="shortcut icon" href="">
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="cache-control" content="max-age=0"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="expires" content="0"/>
  <meta name="app-version" content="<%= htmlWebpackPlugin.options.appVersion %>">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="address=no"/>
  <%= htmlWebpackPlugin.options.gaScripts %>
</head>
<body>
<div id="app"><!-- APP --></div>
</body>
</html>